:root {
  --darkred: #9b2226;
  --red: #ae2012;
  --maroonoak: #590d22;
  --deepclaret: #800f2f;
  --rouge: #a4133c;
  --virtualpink: #c9184a;
  --lovered: #ff4d6d;
  --heatstroke: #ff758f;
  --charmingcherry: #ff8fa3;
  --lightpink: #ffb3c1;
  --sweetsixteen: #ffccd5;
  --powderpuff: #fff0f3;
  --orange: #bb3e03;
  --chromeyellow: #ca6702;
  --yellow: #ee9b00;
  --paleyellow: #e9d8a6;
  --paleteal: #94d2bd;
  --teal: #0a9396;
  --darkteal: #005f73;
  --blackteal: #001219;
  --lightpurple: #eae4e9;
  --lightyellow: #fff1e6;
  --lightpink: #fde2e4;
  --mauvepink: #fad2e1;
  --lightgreen: #e2ece9;
  --palegreen: #bee1e6;
  --lightolive: #f0efeb;
  --lavender: #dfe7fd;
  --darklavender: #cddafd;
}

body {
  margin: 0px;
  font-family: 'Urbanist', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.scrollbar {
  overflow: auto;
}

  .scrollbar::-webkit-scrollbar-track {
      -webkit-box-shadow: none;
      background-color: #F5F5F5;
  }

  .scrollbar::-webkit-scrollbar {
      width: 6px;
      height: 6px;
      background-color: #F5F5F5;
  }

  .scrollbar::-webkit-scrollbar-thumb {
      background-color: var(--red);
      border-radius: 10px;
  }