:root {
  --darkred: #9b2226;
  --red: #ae2012;
  --orange: #bb3e03;
  --chromeyellow: #ca6702;
  --yellow: #ee9b00;
  --paleyellow: #e9d8a6;
  --paleteal: #94d2bd;
  --teal: #0a9396;
  --darkteal: #005f73;
  --blackteal: #001219;
  --lightpurple: #eae4e9;
  --lightyellow: #fff1e6;
  --lightpink: #fde2e4;
  --mauvepink: #fad2e1;
  --lightgreen: #e2ece9;
  --palegreen: #bee1e6;
  --lightolive: #f0efeb;
  --lavender: #dfe7fd;
  --darklavender: #cddafd;




}

body {
  margin: 0px;
  font-family: 'Urbanist', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
